<%- include('partials/_header.ejs') %>
<body>
		<div class="grid">

				<div class="card"> 
					<div class="tittle">
							<h4 class="my-0 font-weight-normal">INTRODUCCIÓN AL EMPRENDIMIENTO CON LEAN STARTUP</h4>
					</div>
					<div class="imgcurso">
						<img src="/static/media/actualizado.png" alt="">
					</div>
					 <div class="boton">
							<a href="/cursos/Unicauca+LeanStartUp+2019-II" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
					 </div>	 
				</div>	
				<div class="card">
					<div class="tittle">
							<h4 class="my-0 font-weight-normal">INTRODUCCIÓN A LA EDICIÓN DE TEXTOS CIENTÍFICOS Y LITERARIOS CON LATEX_2020-I</h4>
					</div>
					<div class="imgcurso">
							<img src="/static/media/actualizado.png" alt="">
						</div>
					<div class="boton">
							<a href="/cursos/Unicauca+LaTEX_Fish+2019-II" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
					</div>	
				</div>
				<div class="card">
					<div class="tittle">
							<h4 class="my-0 font-weight-normal">CAPACITACIÓN VIRTUAL PROYECTO EDUCATIVO PROGRAMA DE ENFERMERÍA</h4>
					</div>
					<div class="imgcurso">
							<img src="/static/media/actualizado.png" alt="">
						</div>
					<div class="boton">
							<a href="/cursos/Unicauca+C_Enfermeria+2019-II" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
					</div>		
				</div>
				<div class="card">
					<div class="tittle">
							<h4 class="my-0 font-weight-normal">LA DANZA FOLCLÓRICA COMO PATRIMONIO CULTURAL</h4>
					</div>
					<div class="imgcurso">
							<img src="/static/media/actualizado.png" alt="">
						</div>
					<div class="boton">
							<a href="/cursos/Unicauca+Danza_Folclorica+2019-II" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
					</div>		
				</div>
				<div class="card">
					<div class="tittle">
							<h4 class="my-0 font-weight-normal">COMPRENSIÓN DE TEXTOS ARGUMENTATIVOS 2019-II</h4>
					</div>
					<div class="imgcurso">
							<img src="/static/media/actualizado.png" alt="">
						</div>
					<div class="boton">
							<a href="/cursos/Unicauca+Textos_Argumentativos+2019-II" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
					</div>
				</div>
				<div class="card">
					<div class="tittle">
							<h4 class="my-0 font-weight-normal">INTRODUCCIÓN AL ACCIDENTE OFÍDICO</h4>
					</div>
					<div class="imgcurso">
							<img src="/static/media/actualizado.png" alt="">
						</div>
					<div class="boton">
							<a href="/cursos/Unicauca+Accidente_Ofidico+2019-II" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
					</div>	
				</div>
			</div>
</body>
    <%- include('partials/_footer.ejs') %>