<%- include('partials/_header.ejs') %>
<body>
		<div class="row text-center">
				<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
						  <img class="card-img-top" src="/static/media/lean.jpg" alt="">
						  <div class="card-body">
							<h4 class="card-title">INTRODUCCIÓN AL EMPRENDIMIENTO CON LEAN STARTUP</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						  </div>
						  <div class="card-footer">
							<a href="/cursos/Unicauca+LeanStartUp+2019-II"  class="btn btn-primary">Informe</a>
						  </div>
						</div>
				 </div>
				 <div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
						  <img class="card-img-top" src="/static/media/latex.png" alt="">
						  <div class="card-body">
							<h4 class="card-title">INTRODUCCIÓN A LA EDICIÓN DE TEXTOS CIENTÍFICOS Y LITERARIOS CON LATEX_2020-I</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						  </div>
						  <div class="card-footer">
							<a href="/cursos/Unicauca+LaTEX_Fish+2019-II"  class="btn btn-primary">Informe</a>
						  </div>
						</div>
				 </div>
				
				 <div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
						  <img class="card-img-top" src="/static/media/danza.png" alt="">
						  <div class="card-body">
							<h4 class="card-title">LA DANZA FOLCLÓRICA COMO PATRIMONIO CULTURAL</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						  </div>
						  <div class="card-footer">
							<a href="/cursos/Unicauca+Danza_Folclorica+2019-II"  class="btn btn-primary">Informe</a>
						  </div>
						</div>
				 </div>
				
				 <div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
						  <img class="card-img-top" src="/static/media/textos.png" alt="">
						  <div class="card-body">
							<h4 class="card-title">COMPRENSIÓN DE TEXTOS ARGUMENTATIVOS 2019-II</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						  </div>
						  <div class="card-footer">
							<a href="/cursos/Unicauca+Textos_Argumentativos+2019-II"  class="btn btn-primary">Informe</a>
						  </div>
						</div>
				 </div>
				 <div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
						  <img class="card-img-top" src="http://placehold.it/500x325" alt="">
						  <div class="card-body">
							<h4 class="card-title">CAPACITACIÓN VIRTUAL PROYECTO EDUCATIVO PROGRAMA DE ENFERMERÍA</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						  </div>
						  <div class="card-footer">
							<a href="/cursos/Unicauca+C_Enfermeria+2019-II"  class="btn btn-primary">Informe</a>
						  </div>
						</div>
				 </div>
				 <div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
						  <img class="card-img-top" src="http://placehold.it/500x325" alt="">
						  <div class="card-body">
							<h4 class="card-title">INTRODUCCIÓN AL ACCIDENTE OFÍDICO</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						  </div>
						  <div class="card-footer">
							<a href="/cursos/Unicauca+Accidente_Ofidico+2019-II"  class="btn btn-primary">Informe</a>
						  </div>
						</div>
				 </div>
				
			</div>
</body>
    <%- include('partials/_footer.ejs') %>