<%- include('partials/_header.ejs') %>

<div class="grid-opciones">
	<div class="card"> 
		<div class="tittle">
				<h4 class="tittle">Informe por IP</h4>
		</div>
		 <div class="boton">
			 <div class="enunciado">
					En este apartado podra encontrar un Informe de
					coincidencias en dirección IP las cuales nos muestran
					que estudiantes respondieron el examén en el mismo lugar el examen
			 </div>
				<div class="enlace">
						<a href="/subseccion/<%=seccion%>" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
				</div>	
		 </div>	 
	</div>
	<div class="card"> 
			<div class="tittle">
					<h4 class="tittle">Informe por Coincidencias</h4>
			</div>
			 <div class="boton">
				 <div class="enunciado">
						En este apartado podra encontrar
						un Informe de coincidencias en las respuestas
						del examen de cada alumno con respecto al resto del curso
				 </div>
				 <div class="enlace">
						<a href="/coincidencia/<%=seccion%>" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
				</div>
				
			 </div>	 
		</div>

</div>
	
		

		
	  
				 

    <%- include('partials/_footer.ejs') %>