<%- include('partials/_header.ejs') %>

<div class="container">
	<p></p>
	<p></p>
	<p></p>
</div>
	
		
<div class="container">
		<div class="card-deck mb-3 text-center">
		  <div class="card mb-6 box-shadow">
			<div class="card-header">
			  <h4 class="my-0 font-weight-normal">Informe por IP</h4>
			</div>
			<div class="card-body">
			  <ul class="list-unstyled mt-3 mb-4">
					<li>En este apartado podra encontrar un Informe de</li>
					<li>coincidencias en dirección IP las cuales nos muestran</li>
					<li>que estudiantes respondieron en el mismo lugar el examen</li>
			</ul>
			  <a href="/subseccion/<%=seccion%>" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
			</div>
		  </div>
		  <div class="card mb-6 box-shadow">
			<div class="card-header">
			  <h4 class="my-0 font-weight-normal">Informe por Coincidencia</h4>
			</div>
			<div class="card-body">
					
					<ul class="list-unstyled mt-3 mb-4">
							<li>En este apartado podra encontrar</li>
							<li>un Informe de coincidencias en las respuestas</li>
							<li>del examen de cada alumno con respecto al resto del curso</li>
					</ul>
					<a href="/pudrete" type="button" class="btn btn-lg btn-block btn-outline-primary">Informe</a>
			</div>
		  </div>
		 
		</div>
		
  
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
		  <div class="row">
			<div class="col-12 col-md">
			  <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
			  <small class="d-block mb-3 text-muted">© 2017-2018</small>
			</div>
			<div class="col-6 col-md">
			  <h5>Features</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Cool stuff</a></li>
				<li><a class="text-muted" href="#">Random feature</a></li>
				<li><a class="text-muted" href="#">Team feature</a></li>
				<li><a class="text-muted" href="#">Stuff for developers</a></li>
				<li><a class="text-muted" href="#">Another one</a></li>
				<li><a class="text-muted" href="#">Last time</a></li>
			  </ul>
			</div>
			<div class="col-6 col-md">
			  <h5>Resources</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Resource</a></li>
				<li><a class="text-muted" href="#">Resource name</a></li>
				<li><a class="text-muted" href="#">Another resource</a></li>
				<li><a class="text-muted" href="#">Final resource</a></li>
			  </ul>
			</div>
			<div class="col-6 col-md">
			  <h5>About</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Team</a></li>
				<li><a class="text-muted" href="#">Locations</a></li>
				<li><a class="text-muted" href="#">Privacy</a></li>
				<li><a class="text-muted" href="#">Terms</a></li>
			  </ul>
			</div>
		  </div>
		</footer>
	  </div>
				 

    <%- include('partials/_footer.ejs') %>