<%- include('partials/_header.ejs') %>

<div class="container">
	<p></p>
	<p></p>
	<p></p>
</div>
<div class="container">	
		<div class="card-deck mb-3 text-center">
<% repetidos.forEach((value,index)=>{ %>
	<%let infoindex= index+1 %>
			<div class="card mb-4 box-shadow text-center">
			  	<div class="card-header">
					<h6 class="my-0 font-weight-normal">Examen <%=infoindex%></h6>
				</div>
				<div class="card-body">
					<a href="/seccion/<%=value%>" type="button" class="btn btn-lg btn-block btn-outline-primary" font-size="2px">Informe</a>
				</div>
			</div>	
	
	<%});%>
		</div>
		
 </div>
				 

    <%- include('partials/_footer.ejs') %>