
<% if (signinMessage){ %>
    <div><%= signinMessage%></div>
<%}%>
<% if (failpassword){ %>
    <div><%= failpassword%></div>
<%}%>
<% if (signupMessageemail){ %>
    <div><%= signupMessageemail%></div>
<%}%>
<!DOCTYPE html>
<html lang="en">
<head>
        <!--motor de plantilla definida para agregarle funcionalidades al HtMl-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DETECTAPP</title>
    <script src="https://kit.fontawesome.com/8b93d6230e.js" ></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="/static/css/estilosv1.css">
   <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
   <link rel="shortcut icon" href="/static/media/icono.ico" />
</head>
<section>
        <div class="container">
                <div class="user signinBx">
                    <div class="imgBx"><img src="/static/media/imagenantorcha.png"></div>
                    <div class="formBx">  
                        <form action="/" method="POST">
                                
                                        <h2>Inicia Sesi칩n</h2>
                                        <input type="email" name="email" placeholder="Usuario" id="">
                                        <input type="password" name="password" placeholder="Contrase침a" id="">
                                        <input type="submit" name="" value="Ingresa">
                                        <p class="Signup"> <a href="#" onclick="toggleForm();">Crea una cuenta</a></p>
                               
                        </form>
                    </div>
                </div>
                <div class="user signupBx">
                        <div class="formBx">  
                            <form action="/signup" method="POST">
                                    
                                            <h2>Crea una cuenta</h2>
                                            <input type="email" name="email" placeholder="inserta tu Usuario" id="">
                                            <input type="password" name="password" placeholder="inserta tu Contrase침a" id="">
                                            <input type="submit" name="" value="Registrate">
                                            <p class="Signup"> <a href="#" onclick="toggleForm();" >Inicia Sesi칩n</a></p>
                            </form>
                        </div>
                        <div class="imgBx"><img src="/static/media/imagenantorcha.png"></div>
                </div>
        </div>
</section>
<script type="text/javascript">
function toggleForm(){
    var container = document.querySelector('.container');
    container.classList.toggle('active')
}
</script>



