<%- include('partials/_header.ejs') %>
<% if (signinMessage){ %>
    <div><%= signinMessage%></div>
<%}%>
<% if (failpassword){ %>
    <div><%= failpassword%></div>
<%}%>
<% if (signupMessageemail){ %>
    <div><%= signupMessageemail%></div>
<%}%>

<section>
        <div class="container">
                <div class="user signinBx">
                    <div class="imgBx"><img src="/static/media/imagenantorcha.png"></div>
                    <div class="formBx">  
                        <form action="/" method="POST">
                                
                                        <h2>Inicia Sesi칩n</h2>
                                        <input type="email" name="email" placeholder="Usuario" id="">
                                        <input type="password" name="password" placeholder="Contrase침a" id="">
                                        <input type="submit" name="" value="Ingresa">
                                        <p class="Signup"> <a href="#" onclick="toggleForm();">Crea una cuenta</a></p>
                               
                        </form>
                    </div>
                </div>
                <div class="user signupBx">
                        <div class="formBx">  
                            <form action="/signup" method="POST">
                                    
                                            <h2>Crea una cuenta</h2>
                                            <input type="email" name="email" placeholder="inserta tu Usuario" id="">
                                            <input type="password" name="password" placeholder="inserta tu Contrase침a" id="">
                                            <input type="submit" name="" value="Registrate">
                                            <p class="Signup"> <a href="#" onclick="toggleForm();" >Inicia Sesi칩n</a></p>
                            </form>
                        </div>
                        <div class="imgBx"><img src="/static/media/imagenantorcha.png"></div>
                </div>
        </div>
</section>
<script type="text/javascript">
function toggleForm(){
    var container = document.querySelector('.container');
    container.classList.toggle('active')
}
</script>



