<!DOCTYPE html>
<html lang="en">
<head>
        <!--motor de plantilla definida para agregarle funcionalidades al HtMl-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DETECTAPP</title>
    <script src="https://kit.fontawesome.com/8b93d6230e.js" ></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald&display=swap" rel="stylesheet">
	 <!--<link rel="stylesheet" href="/static/css/estilosv1.css">-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="shortcut icon" href="/static/media/icono.ico" />
</head>

      
                <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                                        <li><a class="navbar-brand " href="/cursos">DETECTAPP</a></li>
                                                        <!--<a class="p-2 text-dark" href="#">Features</a>
                                                         <a class="p-2 text-dark" href="#">Enterprise</a>
                                                         <a class="p-2 text-dark" href="#">Support</a>
                                                         <a class="p-2 text-dark" href="#">Pricing</a>--> 
                                                         
                                                    </ul>
                                                    <form class="form-inline my-2 my-lg-0">
                                                                <a class="list-group-item list-group-item-action"  href="/logout">Cerrar Sesión</a>
                                                              </form>

                        </div>
                 
                </nav>
                
     